body{
    background: linear-gradient(137deg , red, blue);
    text-align:center;
    color: white;
    font-family: 'Segoe UI',  sans-serif;
    height: 100vh;
    width: 100%;
}
h1{
    margin-top: 50px;
}
.Teams{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}
.Team-A, .Team-B{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction:column;
    
}
.submit{
    margin-top:20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 5px;
}
#teamA , #teamB{
    margin: 0px 20px;
}
#round-result, #final-result {
    margin-top: 25px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
}
#questions {
    margin-top: 20px;
    margin-bottom:20px;
    font-size: 20px;
    font-weight: bold;
}




